.home {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	background-image: url('../_assets/artwork/banner.svg');
	background-position: center;
	background-size: cover;
	display: grid;
	justify-content: center;
}