.mode{
    position: absolute;
	width: 100%;
	min-height: 100vh;
    background-color: rgba($color: #EAE6DF, $alpha: 1.0);
    background-size: cover;
	justify-content: center;
}

.home {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	background-image: url('../_assets/artwork/banner.svg');
	background-position: center;
	background-size: auto;
    display: block;
	justify-content: center;
}

.card{
    margin: 7.5%;
    text-align: center;
    background-color: rgba($color: #B0B0B0, $alpha: 1.0);
    width: 80%;
    height: 300px;
    justify-content: center;
}

