.home {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.colLeft {
	flex: 1;
	filter: blur(4px);
	position: relative;
	z-index: 1;
	background-image: url('../_assets/artwork/banner.svg');
	background-position: center;
	background-size: cover;
}

.colRight {
	position: relative;
	z-index: 2;
	background-color: white;
	width: 30%;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.image {
	max-width: 80%;
}

.getStarted {
	display: flex;
	justify-content: center;
	align-items: center;
}
